/* General Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal scroll from animations */
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   position: sticky;
   top: 2px;
   background-color: white;
   margin-top: 0;
   z-index: 10;
  
  
}
.navbar_s1 h1{
    color: red;
    padding: 5px; 
    font-size:40px ;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar_s2{
    background-color:rgb(235, 245, 245);
    border: solid gray 1px;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    width: 80%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_s2 input{
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}
.navbar_s3{
    font-size: 30px;
    cursor: pointer;
}
.options{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.hero img{
    width: 100%;
    height: 20%;
    
}
.topcat{
    margin-top: 50px;
}
.topcat_container img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
}
.topcat_container img:hover{
    transform: translateY(-2px);
}
.topcat_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.topcat_container1,.topcat_container2,.topcat_container3,.topcat_container4,.topcat_container5,.topcat_container6{
    position: relative;
}
.topcat_container1 h1,.topcat_container2  h1,.topcat_container3  h1,.topcat_container4 h1,.topcat_container5 h1,.topcat_container6 h1{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.bestseller{
    margin-top: 50px;
   
}
.bestseller_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
     font-size: x-small;
  
}
.bestseller_container1,.bestseller_container2,.bestseller_container3{
    width: 20%;
    height: 500px;
    border: solid gray 1px;
    text-align: center;
}

.bestseller_container1 img,.bestseller_container2 img,.bestseller_container3 img{
    width: 100%;
}
.bestseller_container1 button,.bestseller_container2 button,.bestseller_container3 button
{
    background-color: red;
    color: white;
    border: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
}
.bestseller_container1 button:hover,.bestseller_container2 button:hover,.bestseller_container3 button:hover{
    transform: scale(1.1);
}


.newarrival{
    margin-top: 50px;
}
.newarrival_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}
.newarrival_container1,.newarrival_container2,.newarrival_container3,.newarrival_container4{
    width: 20%;
    height: 500px;
    border: solid gray 1px;
    text-align: center;
     font-size: x-small;
}

.newarrival_container1 img,.newarrival_container2 img,.newarrival_container3 img,.newarrival_container4 img{
    width: 100%;
}
.newarrival_container1 button,.newarrival_container2 button,.newarrival_container3 button,.newarrival_container4 button
{
    background-color: red;
    color: white;
    border: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
}
.newarrival_container1 button:hover,.newarrival_container2 button:hover,.newarrival_container3 button:hover,.newarrival_container4 button:hover{
    transform: scale(1.1);
}
.qualities{
    background-color: grey;
    color: white;
    margin-top: 60px;
    margin-left: 200px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qualities div{
    width: 200px;
margin-top: 30px;
    
}
.footer
{
    background-color: black;
    color: white;
    margin-top: 50px;
}
.footer_s1{
    display: flex;
    
    justify-content: space-around;
}
.footer_s1 ul{
    list-style: none;
}
.footer_s1 ul li{
    padding-top:10px ;
}
.footer_s2{
    display:  flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    justify-content: space-between;
}
.nav{
    position: relative;
}
.sidenav{
    width: 200px;
    background-color: white;
    padding: 20px;
    left: -50%;
    z-index: 30;
    position: absolute;
    transition: all;
    transition-duration: 2s;
   height: 100vh;
}
.sidenav h1 a{
    color: black;
    text-decoration: none;
    font-size:large;
}
.sidenav h3{
    text-align: right;
    cursor: pointer;
    font:bolder
}
.sidenav h1 a:hover{
    text-decoration: underline;
}